@import url(variable.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER */
.header {
    /* background-color: hsl(0, 100%, 50%); */
    padding: var(--space-layout-padding-lr, 10px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    /* Cambiado a auto para ajustar a la altura del contenido */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    /* A침adido un poco de sombra para destacar el header */
}

/* HEADER CONTENT - PROFILE (User)*/
.header__login {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.header__login img {
    width: 100%;
}

/* HEADER CONTENT - LIST */
.header__list__ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header__list__ul li {
    margin: 0 10px;
}

/* DESING FOR THE HEADER - TEXT */
.box {
    width: 140px;
    height: auto;
    float: left;
    transition: .5s linear;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    margin: 0 5px;
    background: transparent;
    text-transform: uppercase;
    font-weight: 900;
    font-family: 'Poppins-ExtraBold';
}

a {
    text-decoration: none;
    color: inherit;
}

.box:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
}

.box:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
}

.box:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.box:hover:before {
    border-color: #262626;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s;
}

.box:hover:after {
    border-color: #262626;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .5s;
}

button {
    color: black;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
}

/* THEMES SELECTOR - BUTTON  */

.theme-switch {
    --toggle-size: 30px;
    /* the size is adjusted using font-size,
       this is not transform scale,
       so you can choose any size */
    --container-width: 3.625em;
    --container-height: 1.5em;
    --container-radius: 6.25em;
    /* radius 0 - Minecraft mode :) */
    --container-light-bg: #3D7EAE;
    --container-night-bg: #1D1F2C;
    --circle-container-diameter: 3.375em;
    --sun-moon-diameter: 1.125em;
    --sun-bg: #ECCA2F;
    --moon-bg: #C4C9D1;
    --spot-color: #959DB1;
    --circle-container-offset: calc((var(--circle-container-diameter) - var(--container-height)) / 2 * -1);
    --stars-color: #fff;
    --clouds-color: #F3FDFF;
    --back-clouds-color: #AACADF;
    --transition: .5s cubic-bezier(0, -0.02, 0.4, 1.25);
    --circle-transition: .3s cubic-bezier(0, -0.02, 0.35, 1.17);
}

.theme-switch,
.theme-switch *,
.theme-switch *::before,
.theme-switch *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: var(--toggle-size);
}

.theme-switch__container {
    width: var(--container-width);
    height: var(--container-height);
    background-color: var(--container-light-bg);
    border-radius: var(--container-radius);
    overflow: hidden;
    cursor: pointer;
    -webkit-box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25), 0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
    box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25), 0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    position: relative;
}

.theme-switch__container::before {
    content: "";
    position: absolute;
    z-index: 1;
    inset: 0;
    -webkit-box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset, 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
    box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset, 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
    border-radius: var(--container-radius)
}

.theme-switch__checkbox {
    display: none;
}

.theme-switch__circle-container {
    width: var(--circle-container-diameter);
    height: var(--circle-container-diameter);
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    left: var(--circle-container-offset);
    top: var(--circle-container-offset);
    border-radius: var(--container-radius);
    -webkit-box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), 0 0 0 0.625em rgba(255, 255, 255, 0.1), 0 0 0 1.25em rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), 0 0 0 0.625em rgba(255, 255, 255, 0.1), 0 0 0 1.25em rgba(255, 255, 255, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: var(--circle-transition);
    -o-transition: var(--circle-transition);
    transition: var(--circle-transition);
    pointer-events: none;
}

.theme-switch__sun-moon-container {
    pointer-events: auto;
    position: relative;
    z-index: 2;
    width: var(--sun-moon-diameter);
    height: var(--sun-moon-diameter);
    margin: auto;
    border-radius: var(--container-radius);
    background-color: var(--sun-bg);
    -webkit-box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #a1872a inset;
    box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #a1872a inset;
    -webkit-filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25)) drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
    filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25)) drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
    overflow: hidden;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.theme-switch__moon {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    width: 100%;
    height: 100%;
    background-color: var(--moon-bg);
    border-radius: inherit;
    -webkit-box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #969696 inset;
    box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #969696 inset;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    position: relative;
}

.theme-switch__spot {
    position: absolute;
    top: 0.75em;
    left: 0.312em;
    width: 0.75em;
    height: 0.75em;
    border-radius: var(--container-radius);
    background-color: var(--spot-color);
    -webkit-box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
    box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
}

.theme-switch__spot:nth-of-type(2) {
    width: 0.375em;
    height: 0.375em;
    top: 0.937em;
    left: 1.375em;
}

.theme-switch__spot:nth-last-of-type(3) {
    width: 0.25em;
    height: 0.25em;
    top: 0.312em;
    left: 0.812em;
}

.theme-switch__clouds {
    width: 1.25em;
    height: 1.25em;
    background-color: var(--clouds-color);
    border-radius: var(--container-radius);
    position: absolute;
    bottom: -0.625em;
    left: 0.312em;
    -webkit-box-shadow: 0.937em 0.312em var(--clouds-color), -0.312em -0.312em var(--back-clouds-color), 1.437em 0.375em var(--clouds-color), 0.5em -0.125em var(--back-clouds-color), 2.187em 0 var(--clouds-color), 1.25em -0.062em var(--back-clouds-color), 2.937em 0.312em var(--clouds-color), 2em -0.312em var(--back-clouds-color), 3.625em -0.062em var(--clouds-color), 2.625em 0em var(--back-clouds-color), 4.5em -0.312em var(--clouds-color), 3.375em -0.437em var(--back-clouds-color), 4.625em -1.75em 0 0.437em var(--clouds-color), 4em -0.625em var(--back-clouds-color), 4.125em -2.125em 0 0.437em var(--back-clouds-color);
    box-shadow: 0.937em 0.312em var(--clouds-color), -0.312em -0.312em var(--back-clouds-color), 1.437em 0.375em var(--clouds-color), 0.5em -0.125em var(--back-clouds-color), 2.187em 0 var(--clouds-color), 1.25em -0.062em var(--back-clouds-color), 2.937em 0.312em var(--clouds-color), 2em -0.312em var(--back-clouds-color), 3.625em -0.062em var(--clouds-color), 2.625em 0em var(--back-clouds-color), 4.5em -0.312em var(--clouds-color), 3.375em -0.437em var(--back-clouds-color), 4.625em -1.75em 0 0.437em var(--clouds-color), 4em -0.625em var(--back-clouds-color), 4.125em -2.125em 0 0.437em var(--back-clouds-color);
    -webkit-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
    -o-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
    transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
}

.theme-switch__stars-container {
    position: absolute;
    color: var(--stars-color);
    top: -100%;
    left: 0.312em;
    width: 2.75em;
    height: auto;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

/* actions */

.theme-switch__checkbox:checked+.theme-switch__container {
    background-color: var(--container-night-bg);
}

.theme-switch__checkbox:checked+.theme-switch__container .theme-switch__circle-container {
    left: calc(100% - var(--circle-container-offset) - var(--circle-container-diameter));
}

.theme-switch__checkbox:checked+.theme-switch__container .theme-switch__circle-container:hover {
    left: calc(100% - var(--circle-container-offset) - var(--circle-container-diameter) - 0.187em)
}

.theme-switch__circle-container:hover {
    left: calc(var(--circle-container-offset) + 0.187em);
}

.theme-switch__checkbox:checked+.theme-switch__container .theme-switch__moon {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
}

.theme-switch__checkbox:checked+.theme-switch__container .theme-switch__clouds {
    bottom: -4.062em;
}

.theme-switch__checkbox:checked+.theme-switch__container .theme-switch__stars-container {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* GREETINGS TO THE VISITORS */

.greetings {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 740px;
    width: 100%;
    background-color: var(--color-9);
    opacity: 0.8;
    background-image: repeating-radial-gradient(circle at 0 0, transparent 0, var(--color-9) 19px), repeating-linear-gradient(#50C87855, var(--color-8));
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.greetings h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: var(--color-1);
    font-family: 'Poppins-BoldItalic';
    animation: slideIn 0.5s ease-in;
}

.greetings h2 {
    font-size: 30px;
    color: var(--color-5);
    font-family: 'Poppins-Bold';
    animation: slideIn 0.5s ease-in 0.2s forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* TERMINAL PRESENTATION*/
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.tittle_about_me {
    font-family: 'Poppins-BoldItalic';
    font-size: 24px;
    margin-bottom: 40px;
    color: var(--color-5);
}

.window {
    position: relative;
    height: 350px;
    width: 800px;
    background-color: var(--color-9);
    border: 2px solid #333;
    border-radius: 15px;
    overflow: hidden;
}

.window-title {
    height: 30px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.window-title p {
    color: var(--color-9);
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: left;
}

.window-buttons {
    display: flex;
    align-items: center;
}

.window-button {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin: 5px;
    transition: background-color 0.2s ease;
}

.window-button.close {
    background-color: #f00;
}

.window-button.close:hover {
    background-color: rgb(182, 2, 2);
    cursor: pointer;
}

.window-button.reduce {
    background-color: #ff0;
}

.window-button.reduce:hover {
    background-color: rgb(172, 172, 4);
    cursor: pointer;
}

.window-button.fullscreen {
    background-color: #0f0;
}

.window-button.fullscreen:hover {
    background-color: rgb(7, 159, 7);
    cursor: pointer;
}

.window-button:focus {
    outline: none;
}

.text_title_console {
    font-size: 20px;
    font-family: 'Poppins-BoldItalic';
}

.console {
    width: 100%;
    height: calc(100% - 30px);
    background-color: var(--color-5);
    color: var(--color-9);
    overflow: auto;
    padding: 10px;
}

.console pre {
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 1.5;
}

.console pre code {
    color: #0f0;
    outline: none;
    white-space: pre-wrap;
    /* Permite que el c칩digo se ajuste */
}

.console::-webkit-scrollbar {
    width: 8px;
}

.console::-webkit-scrollbar-track {
    background-color: #333;
}

.console::-webkit-scrollbar-thumb {
    background-color: var(--color-1);
    border-radius: 10px;
    border: 2px solid #333;
}

.console::-webkit-scrollbar-thumb:hover {
    background-color: #999;
}

.text_purple {
    color: rgb(235, 70, 235);
}

.text_blue {
    color: rgb(55, 163, 235);
}

.text_yellow {
    color: rgb(228, 228, 81);
}

.text_white {
    color: var(--color-9);
}

.text_green {
    color: var(--color-8)
}

/* Button in the corner */

/* LANGUAGES AVAILABLE FOR THE PAGES */
.languages__avaliable {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
    display: flex;
    align-items: flex-start;
}

.dropdown_languages {
    position: relative;
}

.dropdown_languages img {
    width: 45px;
    height: 45px;
}

.dropdown__content__languages {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 0;
    border-radius: 5px;
    z-index: 999;
}

.dropdown_languages:hover .dropdown__content__languages {
    display: block;
    /* Muestra el contenido al pasar el mouse */
}

.languages_ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
}

.languages_ul li {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 8px;
    margin-bottom: 10px;
}

.languages_ul li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* LANGUAGE SELECTED */
.languages_ul li {
    opacity: 1;
    /* Por defecto, la opacidad es 1 (visible) */
    transition: opacity 0.3s ease;
    /* Transici칩n suave al cambiar la opacidad */
}

.languages_ul li.inactive {
    opacity: 0.5;
    /* Cambia la opacidad a 0.5 para elementos inactivos */
    filter: grayscale(100%);
    /* Aplica un filtro en escala de grises para un efecto adicional */
}

.languages_ul li:hover {
    opacity: 1;
    /* Por defecto, la opacidad es 1 (visible) */
    transition: opacity 0.3s ease;
    /* Transici칩n suave al cambiar la opacidad */
    filter: grayscale(0%);
    /* Retorna a color al pasar el mouse */
}

/* BUTTON IN THE CORNER - RIGHT */

/* GO BACK TO THE START OF THE PAGE*/

.button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.svgIcon {
    width: 12px;
    transition-duration: 0.3s;
}

.svgIcon path {
    fill: white;
}

.button:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: rgb(181, 160, 255);
    align-items: center;
}

.button:hover .svgIcon {
    transition-duration: 0.3s;
    transform: translateY(-200%);
}

.button::before {
    position: absolute;
    bottom: -20px;
    content: "Back to Top";
    color: white;
    font-size: 0px;
}

.button:hover::before {
    font-size: 13px;
    opacity: 1;
    bottom: unset;
    transition-duration: 0.3s;
}